@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.testimonial-card {
  clip-path: polygon(
    0.854% 5.128%,
    0.854% 5.128%,
    0.501% 4.655%,
    0.256% 4.074%,
    0.114% 3.423%,
    0.07% 2.738%,
    0.119% 2.056%,
    0.255% 1.415%,
    0.474% 0.852%,
    0.769% 0.403%,
    1.137% 0.107%,
    1.571% 0%,
    97.004% 0%,
    97.004% 0%,
    97.49% 0.071%,
    97.951% 0.278%,
    98.381% 0.61%,
    98.773% 1.054%,
    99.122% 1.599%,
    99.422% 2.236%,
    99.666% 2.951%,
    99.847% 3.735%,
    99.961% 4.575%,
    100% 5.461%,
    100% 94.539%,
    100% 94.539%,
    99.961% 95.425%,
    99.847% 96.265%,
    99.666% 97.049%,
    99.422% 97.764%,
    99.122% 98.401%,
    98.773% 98.946%,
    98.381% 99.391%,
    97.951% 99.722%,
    97.49% 99.929%,
    97.004% 100%,
    23.614% 100%,
    23.614% 100%,
    23.128% 99.929%,
    22.667% 99.722%,
    22.237% 99.391%,
    21.845% 98.946%,
    21.496% 98.401%,
    21.196% 97.764%,
    20.952% 97.049%,
    20.771% 96.265%,
    20.657% 95.425%,
    20.618% 94.539%,
    20.618% 31.249%,
    20.618% 31.249%,
    20.582% 30.061%,
    20.478% 28.901%,
    20.307% 27.777%,
    20.073% 26.698%,
    19.778% 25.673%,
    19.425% 24.711%,
    19.018% 23.82%,
    18.558% 23.008%,
    18.049% 22.286%,
    17.494% 21.66%,
    0.854% 5.128%
  );
  width: 480px;
  height: 280;
}
